<div class="p-grid">
  <div class="p-col-12">
    <p-button label="Add class" styleClass="ui-button-success"
              (click)="showEditAddClassDialog()">
    </p-button>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-12">
    <p-table [value]="classes">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Class Name</th>
          <th>Shape</th>
          <th>Color</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template let-class pTemplate="body">
        <tr>
          <td> {{class.id}}</td>
          <td> {{class.name}}</td>
          <td> {{class.shape}}</td>
          <td [ngStyle]="{'color': class.color}">{{class.color}}</td>
          <td>
                <p-button styleClass="ui-button-secondary" (click)="onDelete(class.id)"
                          label="Delete"></p-button>
                <p-button styleClass="ui-button-secondary"
                          (click)="showEditAddClassDialog(class.id)"
                          label="Edit"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


<p-dialog [(visible)]="isShowAddClassVisible" [contentStyle]="{'overflow':'visible'}">
  <p-header>
    Add new class
  </p-header>
  <form [formGroup]="addEditClassForm" (ngSubmit)="onSaveNewClass()">
    <input type="hidden" formControlName="id">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">Name</span>
          <input type="text" pInputText formControlName="name"/>
        </div>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">Shape</span>
          <p-dropdown [options]="availableShapes" formControlName="shape"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">Color</span>
          <p-colorPicker formControlName="color"></p-colorPicker>
        </div>
      </div>
    </div>
    <p-button type="submit" label="Save" [disabled]="!addEditClassForm.valid"></p-button>
  </form>
</p-dialog>

