<div class="p-grid">
  <div class="p-col-2 border-gray" style='background:#FFF;height:90vh'>
    <div style='font-size:80%;background:#EEE;width:100%;padding-left:10px;'>
      press 1-9 to select a class
    </div>
    <p-listbox [options]="classes" [(ngModel)]="selectedClass" optionLabel="name" [style]="{'width':'100%', 'border':'none','margin-top':'15px'}">
    </p-listbox>
  </div>

  <div class="p-col border-gray" style='background:#FFF;margin-left:10px;'>
    <div style='width:100%;padding-left:10px;padding-top:10px'>
      <app-canvas-d3>
      </app-canvas-d3>
    </div>
  </div>

  <div class="p-col-2 border-gray" style='background:#FFF;height:90vh;margin-left:10px;margin-right:10px;'>
    <div style='font-size:80%;background:#EEE;width:100%;padding-left:10px;'>
      press 'q' / 'w' to navigate images
    </div>
    <p-listbox [options]="images" [(ngModel)]="selectedImage" optionLabel="name" [style]="{'width':'100%', 'border':'none', 'margin-top':'15px'}">

    </p-listbox>
  </div>

</div>